<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Security</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="div">
    <div>
        <form method="POST" action="/apis/login/first">
                <h4>Name</h4> <br>
                <input type="text" name = "username" value="wonsikKim"/>
                <br>
                <h4>Birth Date</h4> <br>
                <input type="text" name = "birthDate" value="950201"/>
                <br>
                <h4>Phone Number</h4> <br>
                <input type="text" name = "phoneNo" value="01012341234"/>
                <br><br>
            <button type ="submit">Login</button>
        </form>
    </div>
</div>

</body>
<style type="text/css">
    .div {
        display: flex;
        justify-content: center;
    }
</style>

</html>