<!DOCTYPE html>

<html>

<head>
    <title>Security</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="div">
    <div>
        <form method="POST" action="/apis/login/second">
            <h4>Authentication Number</h4><br>
            <input type="text" name="authNo"/>
            <br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
<style type="text/css">
    .div {
        display: flex;
        justify-content: center;
    }
</style>

</html>